swagger: "2.0"


info:
  title: Request Validator API
  version: "1.0.0"
  description: Request validator API
host: discover.mobileconnect.io
basePath: /rv/v1/exchange/organizations
schemes:
  - https


paths:
  /{orgID}/validate:
    get:
      summary: Request Validator API
      operationId: getValidate
      description: description of api
      produces:
        - application/json
      parameters:
        - in: path
          name: orgID
          description: Server Operator Organization ID as created in the Exchange
          required: true
          type: string
        - in: query
          name: client_id
          description: Exchange Client-ID as returned in the Exchange-Discovery API for a valid operator
          required: true
          type: string
        - in: query
          name: client_secret
          description: Operatore id
          required: true
          type: string
        - name: Accept
          in: header
          description: Accept Type
          required: true
          type: string
          default: application/json
          enum:
            - application/json
            - application/xml
        - name: Content-Type
          in: header
          description: Content Type
          type: string
          default: application/xml
          enum:
            - x-www-form-urlencoded
            - application/xml
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/responses"
        400:
          description: Bad Request
          schema:
            $ref: "#/definitions/error400"
        401:
          description: Unauthorized
          schema:
            $ref: "#/definitions/error401"
        404:
          description: Not_Found_Entity
          schema:
            $ref: "#/definitions/error404"
      security:
        - basicAuth: []


securityDefinitions:
  basicAuth:
    type: basic


definitions:
  cli_name:
    type: object
    properties:
      name:
        type: string
  app_name:
    type: object
    properties:
      name:
        type: string

  error400:
    type: object
    properties:
      error:
        type: string
        description: Invalid_Request
      description:
        type: string
        description: Invalid Client-ID

  error401:
    type: object
    properties:
      error:
        type: string
        description: Error for mising authentication header
          
      description:
        type: string
        description: >-
          Description for mising authentication header 

  error404:
    type: object
    properties:
      error:
        type: string
        description: >-
          Error for Invalid client_id 
      description:
        type: string
        description: >-
          Description for Invalid client_id  
  supportedApis:
    type: array
    items:
        $ref: "#/definitions/app_name"

  application:
    type: object
    required:
      - tncStatus
    properties:
     appCredId:
      type: string

     devOrgId:
      type: string
      description: Developer Organization ID.
     devName:
      type: string

     devId:
      type: string
     appName:
      type: string

     description:
      type: string

     appStatus:
      type: string

     devStatus:
      type: string
      description:  Developer Status (APPROVED/UNAPPROVED).
     developerType:
      type: string
      description:  Developer type (TRUSTED/UNTRUSTED).
     tncStatus:
      type: string
      description:  Serving Organization Terms and conditions accepted or unaccepted by the developer (ACCEPTED/UNACCEPTED).
     trustedMode:
      type: string
     appType:
      type: string

     redirectUri:
      type: string
     supportedApis:
      $ref: '#/definitions/supportedApis'

  responses:
    type: object
    properties:
      x_client_id:
        type: string
        format: string

      orgId:
        type: string
        format: string
        description: Serving Organization ID
      client_name:
        $ref: "#/definitions/cli_name"
      application:
        $ref: "#/definitions/application"
